<%- include('header', {titulo: "Foro Entrega Final" }); %>
    <div class="container mt-5">

        <div>
            <h1 class="display-2">Bienvenidos</h1>
            <p>
                Bienvenido a "Mi Foro Web", un espacio virtual donde la creatividad y el intercambio de ideas convergen.
                Nuestro foro proporciona un entorno
                amigable y accesible para que los usuarios puedan crear y compartir publicaciones sobre una amplia
                variedad de temas.
            </p>
            <div class="lead">
                <h2>Características Principales:</h2>
                <h3>Publicaciones Diversas:</h3>
                <p>
                    En "Mi Foro Web", puedes escribir y presentar publicaciones sobre cualquier tema que te apasione. Ya
                    sea para compartir tus conocimientos,
                    expresar tus opiniones o simplemente contar tus experiencias, aquí tienes la libertad de hablar
                    sobre lo que más te importa.
                </p>
                <h3>Facilidad de Uso:</h3>
                <p>
                    Hemos diseñado una interfaz intuitiva que hace que crear y compartir publicaciones sea un proceso
                    sencillo. Con unos pocos clics,
                    puedes dar vida a tus ideas y compartirlas con nuestra comunidad en línea.
                </p>
                <h3>Carga de Imágenes:</h3>
                <p>
                    Para enriquecer tus publicaciones, ofrecemos la posibilidad de incluir enlaces a imágenes de
                    internet relacionadas con el contenido.
                    Esto permite ilustrar y dar un toque visual a tus entradas.
                </p>
                <h3>Diseño Responsivo:</h3>
                <p>
                    "Mi Foro Web" ha sido desarrollado con un diseño responsivo, lo que significa que disfrutarás de una
                    experiencia de usuario óptima
                    tanto en tu computadora de escritorio como en dispositivos móviles.
                </p>
                <div class="b-example-divider"></div>
                <h3>Contribuciones y Comunidad:</h3>
                <p>
                    "Mi Foro Web" valora las contribuciones de sus usuarios. Si tienes ideas para mejorar el foro o
                    deseas aportar con nuevas funciones,
                    te invitamos a unirte a nuestra comunidad de desarrollo. Juntos podemos hacer de este foro un lugar
                    aún mejor para compartir ideas y conocimientos.
                </p>
                
            </div>
        </div>

    </div>

    <%- include('footer'); %>